---
// src/pages/index.astro - instant redirect, no visible intermediate page
---
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="baidu-site-verification" content="codeva-A9QGAqkSD9" />
    <meta http-equiv="refresh" content="0;url=/en/json/formatter" />
    <meta name="robots" content="noindex" />
  </head>
  <body>
    <script is:inline>window.location.replace('/en/json/formatter');</script>
  </body>
</html>
